<div>
  <label>Title</label>
  <label>
    <input type="text" name="title" value="<%= book.title %>">
  </label>
</div>
<div>
  <label>Author</label>
  <label>
    <select name="author">
      <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
        <option selected label="<%= author.name %>" value="<%= author.id %>">
          <% } else { %>
      <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
        <% }) %>
    </select>
  </label>
</div>
<div>
  <label>Publish Date</label>
  <label>
    <input type="date" name="publishDate"
           value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
  </label>
</div>
<div>
  <label>Page Count</label>
  <label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
  </label>
</div>

<div>
  <label>Cover</label>
  <input type="file" name="cover" class="filepond">
</div>
<div>
  <label>Description</label>
  <label>
    <textarea name="description"><%= book.description %></textarea>
  </label>
</div>
